In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName("Test SQL app").getOrCreate()

In [2]:
df=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                     user="root",\
                                     password="password",\
                                     url="jdbc:mysql://localhost:3306/classicmodels",\
                                     dbtable="classicmodels.orders").load()

In [3]:
df.count()  # return number of rows

326

In [4]:
df.printSchema()  # return schema

root
 |-- orderNumber: integer (nullable = true)
 |-- orderDate: date (nullable = true)
 |-- requiredDate: date (nullable = true)
 |-- shippedDate: date (nullable = true)
 |-- status: string (nullable = true)
 |-- comments: string (nullable = true)
 |-- customerNumber: integer (nullable = true)

In [5]:
df.show()

+-----------+----------+------------+-----------+-------+--------------------+--------------+
|orderNumber| orderDate|requiredDate|shippedDate| status|            comments|customerNumber|
+-----------+----------+------------+-----------+-------+--------------------+--------------+
|      10100|2003-01-06|  2003-01-13| 2003-01-10|Shipped|                null|           363|
|      10101|2003-01-09|  2003-01-18| 2003-01-11|Shipped|Check on availabi...|           128|
|      10102|2003-01-10|  2003-01-18| 2003-01-14|Shipped|                null|           181|
|      10103|2003-01-29|  2003-02-07| 2003-02-02|Shipped|                null|           121|
|      10104|2003-01-31|  2003-02-09| 2003-02-01|Shipped|                null|           141|
|      10105|2003-02-11|  2003-02-21| 2003-02-12|Shipped|                null|           145|
|      10106|2003-02-17|  2003-02-24| 2003-02-21|Shipped|                null|           278|
|      10107|2003-02-24|  2003-03-03| 2003-02-26|Shipped|Difficult to nego...|           131|
|      10108|2003-03-03|  2003-03-12| 2003-03-08|Shipped|                null|           385|
|      10109|2003-03-10|  2003-03-19| 2003-03-11|Shipped|Customer requeste...|           486|
|      10110|2003-03-18|  2003-03-24| 2003-03-20|Shipped|                null|           187|
|      10111|2003-03-25|  2003-03-31| 2003-03-30|Shipped|                null|           129|
|      10112|2003-03-24|  2003-04-03| 2003-03-29|Shipped|Customer requeste...|           144|
|      10113|2003-03-26|  2003-04-02| 2003-03-27|Shipped|                null|           124|
|      10114|2003-04-01|  2003-04-07| 2003-04-02|Shipped|                null|           172|
|      10115|2003-04-04|  2003-04-12| 2003-04-07|Shipped|                null|           424|
|      10116|2003-04-11|  2003-04-19| 2003-04-13|Shipped|                null|           381|
|      10117|2003-04-16|  2003-04-24| 2003-04-17|Shipped|                null|           148|
|      10118|2003-04-21|  2003-04-29| 2003-04-26|Shipped|Customer has work...|           216|
|      10119|2003-04-28|  2003-05-05| 2003-05-02|Shipped|                null|           382|
+-----------+----------+------------+-----------+-------+--------------------+--------------+
only showing top 20 rows

In [7]:
query="(select * from orders where customerNumber = 144) as cust"

df=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                     user="root",\
                                     password="password",\
                                     url="jdbc:mysql://localhost:3306/classicmodels",\
                                     dbtable=query).load()
df.show()
df.explain(True)

+-----------+----------+------------+-----------+-------+--------------------+--------------+
|orderNumber| orderDate|requiredDate|shippedDate| status|            comments|customerNumber|
+-----------+----------+------------+-----------+-------+--------------------+--------------+
|      10112|2003-03-24|  2003-04-03| 2003-03-29|Shipped|Customer requeste...|           144|
|      10320|2004-11-03|  2004-11-13| 2004-11-07|Shipped|                null|           144|
|      10326|2004-11-09|  2004-11-16| 2004-11-10|Shipped|                null|           144|
|      10334|2004-11-19|  2004-11-28|       null|On Hold|The outstaniding ...|           144|
+-----------+----------+------------+-----------+-------+--------------------+--------------+

== Parsed Logical Plan ==
Relation [orderNumber#112,orderDate#113,requiredDate#114,shippedDate#115,status#116,comments#117,customerNumber#118] JDBCRelation((select * from orders where customerNumber = 144) as cust) [numPartitions=1]

== Analyzed Logical Plan ==
orderNumber: int, orderDate: date, requiredDate: date, shippedDate: date, status: string, comments: string, customerNumber: int
Relation [orderNumber#112,orderDate#113,requiredDate#114,shippedDate#115,status#116,comments#117,customerNumber#118] JDBCRelation((select * from orders where customerNumber = 144) as cust) [numPartitions=1]

== Optimized Logical Plan ==
Relation [orderNumber#112,orderDate#113,requiredDate#114,shippedDate#115,status#116,comments#117,customerNumber#118] JDBCRelation((select * from orders where customerNumber = 144) as cust) [numPartitions=1]

== Physical Plan ==
*(1) Scan JDBCRelation((select * from orders where customerNumber = 144) as cust) [numPartitions=1] [orderNumber#112,orderDate#113,requiredDate#114,shippedDate#115,status#116,comments#117,customerNumber#118] PushedFilters: [], ReadSchema: struct<orderNumber:int,orderDate:date,requiredDate:date,shippedDate:date,status:string,comments:s...

In [8]:
query="(select * from orders where customerNumber = 144 or customerNumber = 128) as cust"

df=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                     user="root",\
                                     password="password",\
                                     url="jdbc:mysql://localhost:3306/classicmodels",\
                                     dbtable=query \
                                    ).load()
df.show()

+-----------+----------+------------+-----------+-------+--------------------+--------------+
|orderNumber| orderDate|requiredDate|shippedDate| status|            comments|customerNumber|
+-----------+----------+------------+-----------+-------+--------------------+--------------+
|      10101|2003-01-09|  2003-01-18| 2003-01-11|Shipped|Check on availabi...|           128|
|      10230|2004-03-15|  2004-03-24| 2004-03-20|Shipped|Customer very con...|           128|
|      10300|2003-10-04|  2003-10-13| 2003-10-09|Shipped|                null|           128|
|      10323|2004-11-05|  2004-11-12| 2004-11-09|Shipped|                null|           128|
|      10112|2003-03-24|  2003-04-03| 2003-03-29|Shipped|Customer requeste...|           144|
|      10320|2004-11-03|  2004-11-13| 2004-11-07|Shipped|                null|           144|
|      10326|2004-11-09|  2004-11-16| 2004-11-10|Shipped|                null|           144|
|      10334|2004-11-19|  2004-11-28|       null|On Hold|The outstaniding ...|           144|
+-----------+----------+------------+-----------+-------+--------------------+--------------+