In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Carapp').getOrCreate()

In [4]:
cardf = spark.read.load("C:/pe/cars.csv", format="csv", header = True,inferSchema = True)
#the above line will return data in a Dataframe

cardf.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- city: string (nullable = true)

In [8]:
cardf.createOrReplaceTempView("dealer")  # deal will use as a table name
spark.sql("SELECT * from dealer where Horsepower=175").show(100)

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|quantity|   city|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|AMC Ambassador Br...|13.0|        8|       360.0|       175|  3821|        11.0|   73|    US|      25|NewYork|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|       175|  3850|        11.0|   70|    US|      53|  TEXAS|
|   Buick Century 350|13.0|        8|       350.0|       175|  4100|        13.0|   73|    US|     130|     NJ|
|Plymouth Satellit...| 0.0|        8|       383.0|       175|  4166|        10.5|   70|    US|      56|  TEXAS|
|    Pontiac Catalina|14.0|        8|       400.0|       175|  4385|        12.0|   72|    US|     108| DALLAS|
|Pontiac Catalina ...|14.0|        8|       400.0|       175|  4464|        11.5|   71|    US|      84|     OH|
| Pontiac Safari (sw)|13.0|        8|       400.0|       175|  5140|        12.0|   71|    US|      89|  TEXAS|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+

In [6]:
spark.sql("SELECT Car, sum(quantity) FROM dealer GROUP BY Car").show()

+--------------------+-------------+
|                 Car|sum(quantity)|
+--------------------+-------------+
|Chevrolete Chevel...|          206|
|Volkswagen 1131 D...|           63|
|Chevrolet Monte C...|          582|
|     Ford LTD Landau|          331|
|       Honda Prelude|          400|
|      Chevrolet Nova|          608|
|   Volkswagen Rabbit|         1441|
|     Ford Torino 500|           81|
|        Toyota Camry|          153|
|         Audi 100 LS|           65|
|Plymouth Valiant ...|          197|
|Toyota Corolla Ma...|          127|
|Oldsmobile Cutlas...|          752|
|Fiat 124 Sport Coupe|          159|
|Chevrolet Caprice...|          732|
|     Volvo 145e (sw)|          121|
|            Audi Fox|          186|
|    Chevrolet Camaro|          438|
|       Dodge Aspen 6|          329|
|AMC Ambassador Br...|           25|
+--------------------+-------------+
only showing top 20 rows

In [9]:
spark.sql("SELECT Car, REGEXP_EXTRACT(Car, ' ([A-Za-z]+)\.') AS CarTitle FROM dealer").show(10)

+--------------------+----------+
|                 Car|  CarTitle|
+--------------------+----------+
|AMC Ambassador Br...|Ambassador|
|  AMC Ambassador DPL|Ambassador|
|  AMC Ambassador SST|Ambassador|
|         AMC Concord|    Concor|
|         AMC Concord|    Concor|
|     AMC Concord d/l|   Concord|
|      AMC Concord DL|   Concord|
|    AMC Concord DL 6|   Concord|
|         AMC Gremlin|    Gremli|
|         AMC Gremlin|    Gremli|
+--------------------+----------+
only showing top 10 rows

In [11]:
spark.sql("SELECT Car, sum(quantity) AS sum, max(quantity) AS max FROM dealer GROUP BY Car ORDER BY Car").show();

+--------------------+---+---+
|                 Car|sum|max|
+--------------------+---+---+
|AMC Ambassador Br...| 25| 25|
|  AMC Ambassador DPL|  2|  2|
|  AMC Ambassador SST|  4|  4|
|         AMC Concord| 94| 52|
|      AMC Concord DL| 45| 45|
|    AMC Concord DL 6|328|328|
|     AMC Concord d/l|  4|  4|
|         AMC Gremlin|512|214|
|          AMC Hornet|404|172|
|AMC Hornet Sporta...| 90| 90|
|         AMC Matador|833|234|
|    AMC Matador (sw)|302|185|
|           AMC Pacer|221|221|
|       AMC Pacer d/l| 75| 75|
|       AMC Rebel SST|  4|  4|
|  AMC Rebel SST (sw)| 53| 53|
|       AMC Spirit DL|575|575|
|         Audi 100 LS| 65| 65|
|          Audi 100LS|209|164|
|           Audi 4000|362|362|
+--------------------+---+---+
only showing top 20 rows

In [12]:
spark.sql("SELECT Car, count(DISTINCT city) AS count FROM dealer GROUP BY Car").show()

+--------------------+-----+
|                 Car|count|
+--------------------+-----+
|Chevrolete Chevel...|    1|
|Volkswagen 1131 D...|    1|
|Chevrolet Monte C...|    2|
|     Ford LTD Landau|    1|
|       Honda Prelude|    1|
|      Chevrolet Nova|    3|
|   Volkswagen Rabbit|    5|
|     Ford Torino 500|    1|
|        Toyota Camry|    1|
|         Audi 100 LS|    1|
|Plymouth Valiant ...|    1|
|Toyota Corolla Ma...|    1|
|Oldsmobile Cutlas...|    1|
|Fiat 124 Sport Coupe|    1|
|Chevrolet Caprice...|    3|
|     Volvo 145e (sw)|    1|
|    Chevrolet Camaro|    1|
|            Audi Fox|    1|
|       Dodge Aspen 6|    1|
|    Pontiac Catalina|    3|
+--------------------+-----+
only showing top 20 rows

In [13]:
spark.sql("SELECT * FROM dealer WHERE quantity > 200 ORDER BY quantity desc").show();

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|quantity|  city|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+
|   Plymouth Arrow GS|25.5|        4|       122.0|        96|  2300|        15.5|   77|    US|   75275|    OH|
|Buick Opel Isuzu ...|30.0|        4|       111.0|        80|  2155|        14.8|   77|    US|     814|    OH|
|      Toyota Mark II|19.0|        6|       156.0|       108|  2930|        15.5|   76| Japan|     757| TEXAS|
|Oldsmobile Cutlas...|17.0|        8|       260.0|       110|  4060|        19.0|   77|    US|     752|    NJ|
|       AMC Spirit DL|27.4|        4|       121.0|        80|  2670|        15.0|   79|    US|     575|    OH|
|     Ford Mustang GL|27.0|        4|       140.0|        86|  2790|        15.6|   82|    US|     439|    OH|
|    Chevrolet Camaro|27.0|        4|       151.0|        90|  2950|        17.3|   82|    US|     438| TEXAS|
|    Toyota Celica GT|32.0|        4|       144.0|        96|  2665|        13.9|   82| Japan|     436| TEXAS|
|Chrysler Lebaron ...|26.0|        4|       156.0|        92|  2585|        14.5|   82|    US|     434|DALLAS|
|Buick Century Lim...|25.0|        6|       181.0|       110|  2945|        16.4|   82|    US|     432|DALLAS|
|       Datsun 310 GX|38.0|        4|        91.0|        67|  1995|        16.2|   82| Japan|     431|    NJ|
|  Honda Civic (auto)|32.0|        4|        91.0|        67|  1965|        15.7|   82| Japan|     430| TEXAS|
|      Toyota Corolla|34.0|        4|       108.0|        70|  2245|        16.9|   82| Japan|     428|    NJ|
|        Honda Accord|36.0|        4|       107.0|        75|  2205|        14.5|   82| Japan|     427|    OH|
|      Mercury Lynx l|36.0|        4|        98.0|        70|  2125|        17.3|   82|    US|     425| TEXAS|
|Plymouth Horizon ...|38.0|        4|       105.0|        63|  2125|        14.7|   82|    US|     424|DALLAS|
|    Mazda GLC Custom|31.0|        4|        91.0|        68|  1970|        17.6|   82| Japan|     423| TEXAS|
|  Mazda GLC Custom l|37.0|        4|        91.0|        68|  2025|        18.2|   82| Japan|     422|    OH|
| Volkswagen Rabbit l|36.0|        4|       105.0|        74|  1980|        15.3|   82|Europe|     421|    NJ|
|Ford Fairmont Futura|24.0|        4|       140.0|        92|  2865|        16.4|   82|    US|     419|    NJ|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+
only showing top 20 rows

In [14]:
spark.sql("SELECT * FROM dealer WHERE Horsepower>(SELECT avg(Horsepower) FROM dealer)").show();

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|quantity|   city|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|AMC Ambassador Br...|13.0|        8|       360.0|       175|  3821|        11.0|   73|    US|      25|NewYork|
|  AMC Ambassador DPL|15.0|        8|       390.0|       190|  3850|         8.5|   70|    US|       2|     NJ|
|  AMC Ambassador SST|17.0|        8|       304.0|       150|  3672|        11.5|   72|    US|       4| DALLAS|
|     AMC Concord d/l|18.1|        6|       258.0|       120|  3410|        15.1|   78|    US|       4|NewYork|
|AMC Hornet Sporta...|18.0|        6|       258.0|       110|  2962|        13.5|   71|    US|      90|     NJ|
|         AMC Matador|14.0|        8|       304.0|       150|  3672|        11.5|   73|    US|     131|  TEXAS|
|         AMC Matador|16.0|        6|       258.0|       110|  3632|        18.0|   74|    US|     179|NewYork|
|         AMC Matador|15.0|        6|       258.0|       110|  3730|        19.0|   75|    US|     207|     NJ|
|         AMC Matador|15.5|        8|       304.0|       120|  3962|        13.9|   76|    US|     234| DALLAS|
|    AMC Matador (sw)|15.0|        8|       304.0|       150|  3892|        12.5|   72|    US|     117|  TEXAS|
|    AMC Matador (sw)|14.0|        8|       304.0|       150|  4257|        15.5|   74|    US|     185|     OH|
|       AMC Rebel SST|16.0|        8|       304.0|       150|  3433|        12.0|   70|    US|       4| DALLAS|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|       175|  3850|        11.0|   70|    US|      53|  TEXAS|
|            BMW 2002|26.0|        4|       121.0|       113|  2234|        12.5|   70|Europe|      67| DALLAS|
|            BMW 320i|21.5|        4|       121.0|       110|  2600|        12.8|   77|Europe|     287|  TEXAS|
|       Buick Century|17.0|        6|       231.0|       110|  3907|        21.0|   75|    US|     205|     OH|
|       Buick Century|22.4|        6|       231.0|       110|  3415|        15.8|   81|    US|     409|NewYork|
|   Buick Century 350|13.0|        8|       350.0|       175|  4100|        13.0|   73|    US|     130|     NJ|
|Buick Century Lim...|25.0|        6|       181.0|       110|  2945|        16.4|   82|    US|     432| DALLAS|
|Buick Century Lux...|13.0|        8|       350.0|       150|  4699|        14.5|   74|    US|     182|  TEXAS|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
only showing top 20 rows

In [15]:
spark.sql("SELECT * FROM dealer WHERE Horsepower>(SELECT avg(Horsepower) FROM dealer)").show();

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|quantity|   city|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|AMC Ambassador Br...|13.0|        8|       360.0|       175|  3821|        11.0|   73|    US|      25|NewYork|
|  AMC Ambassador DPL|15.0|        8|       390.0|       190|  3850|         8.5|   70|    US|       2|     NJ|
|  AMC Ambassador SST|17.0|        8|       304.0|       150|  3672|        11.5|   72|    US|       4| DALLAS|
|     AMC Concord d/l|18.1|        6|       258.0|       120|  3410|        15.1|   78|    US|       4|NewYork|
|AMC Hornet Sporta...|18.0|        6|       258.0|       110|  2962|        13.5|   71|    US|      90|     NJ|
|         AMC Matador|14.0|        8|       304.0|       150|  3672|        11.5|   73|    US|     131|  TEXAS|
|         AMC Matador|16.0|        6|       258.0|       110|  3632|        18.0|   74|    US|     179|NewYork|
|         AMC Matador|15.0|        6|       258.0|       110|  3730|        19.0|   75|    US|     207|     NJ|
|         AMC Matador|15.5|        8|       304.0|       120|  3962|        13.9|   76|    US|     234| DALLAS|
|    AMC Matador (sw)|15.0|        8|       304.0|       150|  3892|        12.5|   72|    US|     117|  TEXAS|
|    AMC Matador (sw)|14.0|        8|       304.0|       150|  4257|        15.5|   74|    US|     185|     OH|
|       AMC Rebel SST|16.0|        8|       304.0|       150|  3433|        12.0|   70|    US|       4| DALLAS|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|       175|  3850|        11.0|   70|    US|      53|  TEXAS|
|            BMW 2002|26.0|        4|       121.0|       113|  2234|        12.5|   70|Europe|      67| DALLAS|
|            BMW 320i|21.5|        4|       121.0|       110|  2600|        12.8|   77|Europe|     287|  TEXAS|
|       Buick Century|17.0|        6|       231.0|       110|  3907|        21.0|   75|    US|     205|     OH|
|       Buick Century|22.4|        6|       231.0|       110|  3415|        15.8|   81|    US|     409|NewYork|
|   Buick Century 350|13.0|        8|       350.0|       175|  4100|        13.0|   73|    US|     130|     NJ|
|Buick Century Lim...|25.0|        6|       181.0|       110|  2945|        16.4|   82|    US|     432| DALLAS|
|Buick Century Lux...|13.0|        8|       350.0|       150|  4699|        14.5|   74|    US|     182|  TEXAS|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
only showing top 20 rows

In [16]:
spark.sql("SELECT Car, sum(quantity) FILTER (WHERE Car IN ('Toyota Camry', 'Datsun 200-SX')) AS `sum(quantity)` \
          FROM dealer GROUP BY Car").show(25);

+--------------------+-------------+
|                 Car|sum(quantity)|
+--------------------+-------------+
|Chevrolete Chevel...|         null|
|Volkswagen 1131 D...|         null|
|Chevrolet Monte C...|         null|
|     Ford LTD Landau|         null|
|       Honda Prelude|         null|
|      Chevrolet Nova|         null|
|   Volkswagen Rabbit|         null|
|     Ford Torino 500|         null|
|        Toyota Camry|          153|
|         Audi 100 LS|         null|
|Plymouth Valiant ...|         null|
|Toyota Corolla Ma...|         null|
|Oldsmobile Cutlas...|         null|
|Fiat 124 Sport Coupe|         null|
|Chevrolet Caprice...|         null|
|     Volvo 145e (sw)|         null|
|            Audi Fox|         null|
|    Chevrolet Camaro|         null|
|       Dodge Aspen 6|         null|
|AMC Ambassador Br...|         null|
|    Pontiac Catalina|         null|
|       Ford Maverick|         null|
|      Chevrolet Vega|         null|
|   Plymouth Fury III|         null|
|       Datsun 200-SX|          318|
+--------------------+-------------+
only showing top 25 rows

In [17]:
spark.sql("SELECT Car, REGEXP_EXTRACT(Car, ' ([A-Za-z]+)\.') AS CarTitle FROM dealer").show(10)

+--------------------+----------+
|                 Car|  CarTitle|
+--------------------+----------+
|AMC Ambassador Br...|Ambassador|
|  AMC Ambassador DPL|Ambassador|
|  AMC Ambassador SST|Ambassador|
|         AMC Concord|    Concor|
|         AMC Concord|    Concor|
|     AMC Concord d/l|   Concord|
|      AMC Concord DL|   Concord|
|    AMC Concord DL 6|   Concord|
|         AMC Gremlin|    Gremli|
|         AMC Gremlin|    Gremli|
+--------------------+----------+
only showing top 10 rows

In [20]:
cardf.explain(True)

== Parsed Logical Plan ==
Relation [Car#17,MPG#18,Cylinders#19,Displacement#20,Horsepower#21,Weight#22,Acceleration#23,Model#24,Origin#25,quantity#26,city#27] csv

== Analyzed Logical Plan ==
Car: string, MPG: double, Cylinders: int, Displacement: double, Horsepower: int, Weight: int, Acceleration: double, Model: int, Origin: string, quantity: int, city: string
Relation [Car#17,MPG#18,Cylinders#19,Displacement#20,Horsepower#21,Weight#22,Acceleration#23,Model#24,Origin#25,quantity#26,city#27] csv

== Optimized Logical Plan ==
Relation [Car#17,MPG#18,Cylinders#19,Displacement#20,Horsepower#21,Weight#22,Acceleration#23,Model#24,Origin#25,quantity#26,city#27] csv

== Physical Plan ==
FileScan csv [Car#17,MPG#18,Cylinders#19,Displacement#20,Horsepower#21,Weight#22,Acceleration#23,Model#24,Origin#25,quantity#26,city#27] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/C:/pe/cars.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Car:string,MPG:double,Cylinders:int,Displacement:double,Horsepower:int,Weight:int,Accelera...